POSTGRES_DB=fenrir_soc_core
POSTGRES_USER=fenrir
POSTGRES_PASSWORD=change-this-postgres-password
FENRIR_HTTP_PORT=5248
FENRIR_JWT_SIGNING_KEY=change-this-to-a-long-random-signing-key-before-exposing-the-service
ASPNETCORE_ENVIRONMENT=Production
DARKWEB_ENABLE_XPOSEDORNOT=true
DARKWEB_ENABLE_LEAKCHECK=true
